@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

/* header */

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 10px;
  width: auto;
}

.header-lista {
  list-style: none;
}

.header-container-bottom {
  background-color: #f0a83e;
}

.logo {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.nav-lista {
  color: #ffffff;
  font-size: 13px;
  list-style: none;
}

.texto-logo-top {
  color: #3c2313;
}

/* main */

.bienvenida {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

.botonComederos {
  background-color: #f0a83e;
  border-style: none;
  color: white;
  font-size: 20px;
  left: 75px;
  position: relative;
}

.final {
  background-color: #3c2313;
  bottom: 15px;
  position: relative;
}

footer {
  background-color: #f0a83e;
  color: #fbfaf6;
  text-align: center;
}

.fotoChurrasco {
  background-color: #fbfaf6;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 16px;
}

.imagen-main {
  background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
  background-size: cover;
  height: 650px;
  width: auto;
}

.logoFinal {
  font-weight: bold;
}
.logo-tit {
  color: #fbfaf6;
  font-weight: bold;
  font-size: 25px;
}
.logo-tit2 {
  color: #fbfaf6;
}


.precio-articulo {
  color: #f0a83e;
}

.titulo-header {
  text-align: center;
  font-size: 60px;
  height: 20px;
}
.titulo-descuentos {
  left: 650px;
  position: relative;
  top: 40px;
}
.titulo2-foto {
  font-size: 25px;
}
.titulo-articulo {
  color: #3c2313;
}

.tituloFront {
  color: #fbfaf6;
}
.tituloCatDog {
  color: #f0a83e;
}
